{% extends 'base.html.twig' %} {% block title %}Edit CR{% endblock %} {% block body %}

<div class="container">
    <h1 class="text-center">Edit Event</h1>
    {{ include('cr/_form.html.twig', {'button_label': 'Update'}) }}

</div>
{% endblock %}